{% extends "shared/mail/layout.html.twig" %}

{% block body %}
 <table class="es-content" cellspacing="0" cellpadding="0" align="center">
        <tbody>
            <tr>
                <td class="esd-stripe" align="center">
                    <table class="es-content-body" width="765" cellspacing="0" cellpadding="0" bgcolor="#ffffff" align="center">
                        <tbody>
                            <tr>
                                <td class="esd-structure es-p20t es-p35r es-p35l" esd-custom-block-id="7685" align="left">
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td class="esd-container-frame" width="530" valign="top" align="center">
                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
							                                    {{ include('shared/mail/_logo.html.twig') }}
                                                            </tr>
                                                            <tr>
                                                                <td class="esd-block-text" align="center">
                                                                    <h2 style="font-size: 20px;">Bienvenue chez GBATCAR, {{ client.civilite ~ ' ' ~ client.lastName }}<br></h2>
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td class="esd-block-text es-p15t es-p10b" align="center">
                                                                    <p style="font-size: 16px; color: #777777;"><br></p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                            <tr>
                                <td class="esd-structure es-p20t es-p40b es-p35r es-p35l" esd-custom-block-id="7685" align="left">
                                    <table width="100%" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td class="esd-container-frame" width="530" valign="top" align="center">
                                                    <table width="100%" cellspacing="0" cellpadding="0">
                                                        <tbody>
                                                            <tr>
                                                                <td class="esd-block-text es-p20t" align="center">
                                                                    <p style="font-size: 16px; color: #777777;">
                                                                        <p style="margin: 10px 0; padding: 3px; text-align: left; font-weight: bold">Nous sommes ravis de vous compter parmi nos nouveaux clients.</p>
                                                                        <p style="margin: 10px 0; padding: 3px; text-align: left;">Votre compte a été créé avec succès dans notre système de gestion de location-vente.</p>
                                                                        <p style="margin: 10px 0; padding: 3px; text-align: left;">Chez GBATCAR, notre mission est de vous accompagner dans l'acquisition de votre véhicule en toute sérénité. Vous recevrez désormais toutes les notifications importantes concernant vos contrats et paiements.</p>
                                                                        ------------------------------------------
                                                                        <p style="margin: 10px 0; padding: 3px; text-align: left; font-weight: bold">Prochaines étapes :</p>
                                                                        <p style="margin: 10px 0; padding: 3px; text-align: left;">1. Finalisation de votre dossier administratif.</p>
                                                                        <p style="margin: 10px 0; padding: 3px; text-align: left;">2. Validation de votre contrat de location-vente.</p>
                                                                        ------------------------------------------
                                                                        <p style="margin: 10px 0; padding: 3px; text-align: left; font-weight: bold">Nous restons à votre entière disposition pour toute question.</p>
                                                                        <p style="margin: 10px 0; padding: 3px; text-align: left; font-weight: bold">Cordialement,</p>
                                                                        <p style="margin: 10px 0; padding: 3px; text-align: left; font-weight: bold">L'équipe GBATCAR</p>
                                                                    </p>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block content %}{% endblock %}
