<td align="center" style="padding-bottom: 10px;">
    <table cellspacing="0" cellpadding="0" align="center">
        <tbody>
            <tr>
                <td align="center" style="
                    background-color: #212a3a;
                    border-radius: 6px;
                    padding: 10px 22px;
                    display: inline-block;
                    border-bottom: 3px solid #D80010;
                ">
                    <h2 style="
                        margin: 0;
                        font-size: 22px;
                        font-weight: 900;
                        letter-spacing: 2px;
                        font-family: 'Roboto', helvetica, arial, sans-serif;
                    ">
                        <span style="color: #D80010;">GBAT</span><span style="color: #ffffff;">CAR</span>
                    </h2>
                </td>
            </tr>
        </tbody>
    </table>
</td>
